body {
  font-size: 14pt;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  background-color: #641822;
  background-image: url('./images/bkg.png');
  background-size: 200%;
  color: rgb(36, 33, 57);
  box-sizing: border-box;
}

h3 {
  color: rgb(218, 85, 97);
  font-size: max(3.5vw, 18pt);
  font-weight: 700;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

#header-box {
  background-color: white;
  padding: 2vw 2.5vw 2.5vw;
  font-size: 8vw;
  font-family: 'Lobster', serif;
  justify-content: center;
  color: rgb(36, 33, 57);
  width: fit-content;
  border: 4px rgb(36, 33, 57) solid;
  border-radius: 3vw / 50%;
}

main {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin: 30px auto;
  border: 4px rgb(36, 33, 57) solid;
  border-radius: 10px;
}

div {
  display: flex;
  gap: 10px;
}

#who {
  color: rgb(36, 33, 57);
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 10px;
}

table {
  text-align: left;
}

.remove-btn {
  color: rgba(218, 85, 97, 0.95);
  font-size: 0.95rem;
  margin-left: 4px;
  cursor: pointer;
}

input {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  background-color: rgba(122, 190, 182, 0.2);
  height: 24px;
  padding: 4px 6px;
  border: rgb(122, 190, 182) 2px solid;
  outline: none;
  border-radius: 4px;
}

input::placeholder {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  color: rgb(122, 190, 182);
  opacity: 0.7;
}

button {
  color: white;
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  height: 36px;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 6px 10px;
}

#add {
  background-color: rgb(122, 190, 182);
}

#assign {
  background-color: rgb(36, 33, 57);
  font-size: 18px;
  height: 44px;
  padding: 10px 14px;
}

#print {
  background-color: rgb(122, 190, 182);
}

#clear {
  background-color: rgb(218, 85, 97);
}

#again {
  visibility: hidden;
}

.space-above {
  margin-top: 10px;
}

.space-below {
  margin-bottom: 30px;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.right {
  justify-content: end;
}
